
  <%- include('./partials/header.ejs') %>
  <header>
    <form action="/query" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="row pt-5">
        <div class="col-sm-6 pt-2" style="color:white;background:#212529;box-shadow: 1px 1px 3px #767575; border-radius:10px;border:1px solid #10748B; height:50px;text-align:center";>
          <input  class="input" type="checkbox" name="Create" id="" value=>&nbsp Create</div>
        <div class="col-sm-6 pt-2" style="color:white;background:#212529;box-shadow: 1px 1px 3px #767575; border-radius:10px;border:1px solid #10748B; height:50px; text-align:center">
           <input class="input"  type="checkbox" name="Review" id="" value="Review">&nbsp Review</div>
      </div>
      <br>
      <div class="row">
        <div class="container">
          <div class="text-center">
          <div class="text-start  pt-2" style="box-shadow: 1px 1px 3px #767575; border-radius:10px; height:50px ";>
          <label> <input type="checkbox" name="Payroll" id="" value="Payroll"> Payroll </label></div><br>
          <div class="text-start  pt-2" style="box-shadow: 1px 1px 3px #767575; border-radius:10px; height:50px";>
           <label> <input type="checkbox" name="End_of_Service" id="" value="End_of_Service">   End Of Serives </label></div><br>
           <div class="text-start  pt-2" style="box-shadow: 1px 1px 3px #767575; border-radius:10px; height:50px";>
        <label> <input type="checkbox" name="Policy_and_Procedure" id=""  value="Policy_and_Procedure">   Policy And Procedures </label></div><br>
        <div class="text-start  pt-2" style="box-shadow: 1px 1px 3px #767575; border-radius:10px; height:50px";>
    <label>  <input type="checkbox" name="Talent_Acquisition" id="Talent_Acquisition" value="Talent_Acquisition">    Talent Acquisition </label></div><br>
    <div class="text-start  pt-2" style="box-shadow: 1px 1px 3px #767575; border-radius:10px; height:50px";>
   <label><input type="checkbox"  name="Training_and_Coaching" id="" value="Training_and_Coaching">  Training & Coaching</label></div>
   <br>
  <input type="file" name="avatar" class="form-control" id="customFile"  multiple />
  <br>
  <div class="text-center pb-5">
  <button type="button" class="btn btn-success" style="box-shadow: 1px 1px 3px #767575";>Submit</button>
  </div>
      </div>
      </div>
    </div>
  </form>
  </header>

       <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Query</th>
            <th scope="col">query_View</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% data.map((data,index) => { %>
              <tr>
                <td><%-index+1 %></td>
                <td><%-data.users[0].name %></td>
                <td><%-data.users[0].email %></td>
                <td><%-data.Create %><%-data.ReView %>
                  <%-data.Payroll %> <%-data.End_of_Service %> 
                  <br> 
                  <%-data.Policy_and_Procedure %>   <%-data.Training_and_Coaching %> <%-data.Talent_Acquisition %>
                </td>
                <td>
                  <form action="/view/<%-data.id %>" method="get">
                    <button class="bg-success text-light btn btn-outline-success" type="submit" ><a  style="text-decoration: none; color: white;">view</a></button> 
                  </form>
                </td>
              </tr>
              <% }) %>
          </tr>
        
        </tbody>
      </table>
      <br><br><br>
      <%- include('./partials/footer.ejs') %>